In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+2.1

3.1

In [4]:
1/3

0.3333333333333333

In [5]:
2**3

8

In [6]:
2+3*5+5

22

In [7]:
(2+3)*(5+5)

50

In [8]:
5%3

2

In [9]:
var=2

In [10]:
var*3

6

In [11]:
x=2
y=3
x+y

5

In [12]:
x=x+2

In [13]:
x+y

7

In [14]:
x==Y

NameError: name 'Y' is not defined

In [15]:
x==y

False

In [16]:
# strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double q"

'double q'

In [19]:
"i can't go"

"i can't go"

In [20]:
x="hello"

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num=12

In [24]:
name='Sam'

In [27]:
'my number is {} and my name is {}'.format(num,name)

'my number is 12 and my name is Sam'

In [28]:
s ='hello'

In [29]:
s[0]

'h'

In [30]:
s[-1]

'o'

In [31]:
s='abcdefghijk'

In [33]:
s[0:]

'abcdefghijk'

In [34]:
s[:5]

'abcde'

In [35]:
s[0:2]

'ab'

In [36]:
s[3:6]

'def'

In [37]:
[1,2,3]

[1, 2, 3]

In [38]:
['a','b','c']

['a', 'b', 'c']

In [39]:
my_list=['a','b','c']

In [40]:
my_list.append('d')

In [41]:
my_list

['a', 'b', 'c', 'd']

In [42]:
my_list[0]='NEW'

In [43]:
my_list

['NEW', 'b', 'c', 'd']

In [44]:
nest=[1,2,[3,4]]

In [45]:
nest

[1, 2, [3, 4]]

In [48]:
nest[2][1]

4

In [47]:
nest[0,1]

TypeError: list indices must be integers or slices, not tuple

In [49]:
d={'key1':'value','key2':123}

In [51]:
d['key2']

123

In [53]:
d={'k1':[1,2,3]}

In [54]:
d['k1'][1]

2

In [55]:
t=(1,2,3)

In [56]:
t[0]

1

In [57]:
{1,2,3}

{1, 2, 3}

In [58]:
{1,1,1,2,2,2}

{1, 2}

In [59]:
set([1,1,2,3,4,4])

{1, 2, 3, 4}

In [60]:
if 1<2:
    print('yep!')

yep!

In [63]:
if 1!=2:
    print('First')
elif 3==3:
    print('middle')
else:
    print('last')

First

In [65]:
seq=[1,2,3,4,5]

In [69]:
for num in seq:
    print(num,"hello")

1 hello
2 hello
3 hello
4 hello
5 hello

In [72]:
i=1
while i<5:
    print('i is :{}'.format(i))
    i=i+1

i is :1
i is :2
i is :3
i is :4

In [75]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [74]:
range(0,5)

range(0, 5)

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
x=[1,2,3,4]

In [79]:
out=[]

In [80]:
for num in x:
    out.append(num**2)

In [81]:
print(out)

[1, 4, 9, 16]

In [83]:
out=[num**2 for num in x]

In [84]:
out

[1, 4, 9, 16]

In [85]:
def my_func(param1):
    print(param1)

In [86]:
my_func('hello')

hello

In [90]:
def my_func(name="default name"):
    print ('hello '+name)

In [92]:
my_func()

hello default name

In [96]:
def square(num):
    """
    THIS IS A DOC STRING
    my documentation
    """
    return num**2

In [94]:
output=square(2)

In [95]:
output

4