___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0 :
        result=min(a,b)
    else:
        result=max(a,b)
    return result

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [17]:
def animal_crackers(text):
    char1=text.split()[0][0]
    char2=text.split()[1][0]

    print (char1)
    print (char2)
    
    if char1==char2 :
        result=True
    else:
        result=False
    return result

In [18]:
# Check
animal_crackers('Levelheaded Llama')

L
L

True

In [19]:
# Check
animal_crackers('Crazy Kangaroo')

C
K

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [21]:
def makes_twenty(n1,n2):
    if n1 ==20 or n2==20 or n1+n2==20 :
        result = True
    else:
        result = False
    
    return result

In [24]:
# Check
makes_twenty(12,8)

True

In [23]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [29]:
def old_macdonald(name):
    mystr=""
    i=0
    for mychar in name:
        if i==0 or i==3 :
            mystr=mystr+mychar.upper()
        else:
            mystr=mystr+mychar
        i+=1
    return mystr

In [30]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    pass

In [ ]:
# Check
master_yoda('I am home')

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [32]:
def almost_there(n):
    
    if n in range(90,110) or n in range(190,210):
            result= True
    else:
            result =False
    return result

In [33]:
# Check
almost_there(104)

True

In [34]:
# Check
almost_there(150)

False

In [35]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [71]:
def has_33(nums):
    result=False
    for x in range(0,len(nums)-1):
        if nums[x] ==3 and nums[x+1]==3:
            result=True
    return result

In [77]:
# Check
has_33([3, 3, 3,2])

True

In [73]:
# Check
has_33([1, 3, 1, 3])

False

In [74]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [86]:
def paper_doll(text):
    result=""
    for i in range(0,len(text)):
        result=result+text[i]+text[i]+text[i]
    return result

In [87]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [88]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [129]:
def blackjack(a,b,c):
    mysum = a+b+c
    myword=''
    if (mysum>21 and (a==11 or b==1 or c==1)): mysum = mysum-10
    if mysum>21: mysum="Bust"
    return mysum

In [130]:
# Check
blackjack(5,6,7)

18

In [131]:
# Check
blackjack(9,9,9)

'Bust'

In [132]:
# Check
blackjack(9,9,11)

'Bust'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [167]:
def summer_69(arr):
    myskip=False
    mysum=0
    
    for i in range( 0 , len(arr)):
        
        if arr[i]==6 :myskip=True
        if arr[i-1]==9 and myskip==True: myskip=False
            
        if myskip==False: mysum = mysum+arr[i]
           
    return mysum

In [168]:
# Check
summer_69([1, 3, 5])

9

In [169]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [170]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!